body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 0;
}

.calculator {
    width: 384px;
    margin: 0 auto;
    background-color: #0E4D92;
    border-radius: 5px 5px 35px 35px;
}

#screenArea {
    height: 50px;
    padding-top: 23px;
}

#screen {
    margin: 0 auto;
    border: none;
    padding: 0;
    width: 77%;
    height: 100%;
    display: block;
    font-size: 48px;
    font-style: italic;
    text-align: right;
}

.names>div {
    display: inline-block;
    vertical-align: top;
    color: white;
}

.texas {
    padding: 18px 0 0 24px;
    font-size: 17px;
}

.calcName {
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 8px;
    line-height: 28px;
}

.panel {
    height: 45px;
    width: 157px;
    margin-left: 18px;
}

.sun {
    float: left;
    width: 25%;
    height: 100%;
    background-color: gray;
    outline: 1px solid black;
}

.press {
    display: inline-block;
    width: 64px;
    height: 44px;
    background-color: #BF0A30;
    color: #FFF;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid black;
    text-align: left;
}

.equals {
    height: 101px;
}

.most {
    display: inline-block;
    vertical-align: top;
}

.less {
    display: inline-block;
    vertical-align: top;
}

.mainPanel {
    margin-top: 10px;
    border-top: 2px solid black;
    padding: 13px 13px 45px;
}

.buttons {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.row {
    margin-top: 13px;
}

.most .press {
    margin-right: 10px;
}

.most .row:first-child {
    margin: 0;
}

.less .row:first-child {
    margin: 0;
}

.numeric {
    color: #0E4D92;
    background-color: white;
}